sudo: false
language: python
services:
  - docker
python:
  - '3.7'
  - '3.8'
  - '3.9'
before_install:
  - docker-compose up -d
install:
  - pip install tox-travis
  - pip install codecov
script:
  - tox -e qa_style
  - tox
after_success:
  - codecov
deploy:
  provider: pypi
  user: jim.carreer
  password:
    secure: JNRRBmDl1sP3sm+4QUoBJsZg8934T63EtRWFBid9BQaRgZONMlAHKo5C1f/QGE0XvKiV5W6Vp3dVEeMJBZYfaqPnvSvZTJt/5vSEMJRC5U2KRW5mq9ozAYcBKegORmKRy6KWKwsXnR6N9GQFnZDkNj18eRzYAV+0eBcZT+KHvd2nWTqRnkGB63SW9wuuJ/3P21UO3ppb8eerCynBTONl1860+Oj8AXMd+rsgh+5xa4nBpAJf0jhi+ro0LEtUbnm9AQGwmqSVGk46hACmKQQEWOzMrG/vr+jA++RUUVC8+JmN6mRRuxzDWobFULe1rWNWd8LMPQTZj3wBx6RdwUH/WrMr+nKsAvKr7XEEp5e7BsMGQca+sGPBFzGuf9Ocl9UpPzgVw1AaIJNYhgMuw8um4WY+4I5yE/hNj1sWzLJQoUkUgDuedJDYDb3lcRf0AFCsTtf2cLhMmUM/Ow59bkOW13J1hnyKDEQaraWtLW9MK6V2gM6W2VKPcRsWfqs5+oVcvoMYNrVrS0Lt7LcedSjs2crI0oZ7+hTWwB/c6Klxj9IXwJXL5GSX/Bv+kab04ihxG3Cz6g55uMslSWESfz+cjFGldidu1zPSS4rppuKf3kBiDIcXMRnKXB6yw81LQ5jinsRRSqtUYPhs1E0d0D++z7HHQ3/IoGY9LpL60bU/Jhk=
  on:
    branch: main
    tags: true
    python: 3.8
