services:

  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: test_user
      POSTGRES_PASSWORD: test_pass
      POSTGRES_DB: test_db
    ports:
      - "5432:5432"

  dinao_example:
    build: .
    depends_on:
      - postgres
    ports:
      - "5001:5000"
