name: Build

on: push

jobs:

  quality:
    name: Quality Assurance
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: pip
      - name: Install Aspell
        run: sudo apt-get install -y aspell aspell-en
      - name: Install Tox
        run: pip install tox
      - name: Run QA checks
        run: tox -e flake,spell,blacken

  testing:
    name: Unit and Integration Testing
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    steps:
      - uses: actions/checkout@v4
      - name: Install Binary Packages
        run: |
          sudo apt-get update
          sudo apt-get install -y libmariadb3 libmariadb-dev python3-dev
      - name: Start Docker Compose
        run: |
          cd ./tests
          docker compose up -d
          sleep 30
          docker ps
      - name: Setup Python ${{matrix.python}}
        uses: actions/setup-python@v5
        with:
          python-version: ${{matrix.python}}
          cache: pip
      - name: Install Tox
        run: pip install tox
      - name: Run Tests
        run: tox -e py
      - name: Upload Coverage
        uses: codecov/codecov-action@v5

  publish:
    needs: [quality, testing]
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Build and Publish
        run: pip install build && python -m build --sdist --wheel --outdir dist/
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{secrets.PYPI_API_TOKEN}}
